/*Footer*/

footer {
    background-image: url('../Images/background/footer.PNG');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
 /* ou position: absolute; */
    bottom: 0; /* Pour le mettre en bas de la page */
    width: 100%; /* Pour occuper toute la largeur de la page *//* S'il y a d'autres éléments en position absolue ou fixe */
}

.footer-contenue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Tu peux retirer cette ligne si tu utilises position: fixed; */
}

.footer-colonne {
    flex: 1;
    padding: 10px;
    max-width: 200px;
}

.footer-colonne h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-colonne p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-colonne a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
