/* styleinscription.css */

/* Bannière */
.banniere {
    position: relative;
    text-align: center;
    color: white;
}

.banniere img {
    width: 100%;
    height: auto;
    display: block;
}

#banniere-text {
    position: absolute;
    left: 10%;
    top: 7%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: #004d40;
    padding: 10px 20px;
    color: white;
    font-size: 34px;
    font-weight: bold;
}

/* Formulaire */

form {
    position: absolute;
    background-color: #004d40;
    padding: 20px;
    border-radius: 8px ; 
    border: 2px black solid;
    width: 300px;
    display: flex;
    flex-direction: column;
    left: 35%;
    top: 45%;
    width: 30%;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}


input[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: none;
    font: bold;
}

input[type="submit"]:hover {
    background-color: #00b868;
}

input::placeholder {
    color: #999999;
}
